<h1>projects</h1>

<div class="collection">

  <% @repos.each do |repo| %>
    <p class="collection-item">
      <%= link_to repo['name'], 'https://github.com/codybru10/'+repo['name'] %>
    </p>
  <% end %>

</div>
